body
	font-family: sans-serif


.main
	display: flex
	justify-content: center
	align-items: center
	flex-direction: column
	width: 100%
	&__homework
		margin-left: 10%
		margin-right: 10%
		margin-bottom: 100px
		text-align: justify
		&__out
			display: flex
			justify-content: center
			margin-top: 10px
			font-size: 30px
		&__execution
			display: flex
			justify-content: center
			input
				width: 120px
				height: 26px
				vertical-align: bottom
				padding: 0
				margin-right: 10px
				&::placeholder
					//padding:20px 20px
					text-align: center
					//margin-left: 10px
			button
				width: 120px
				height: 30px
				vertical-align: bottom
				padding: 0
				border: 0
				


	